<% title "Content" %>

<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>
<p>
  <strong>Value:</strong>
  <%= @content.value %>
</p>

<p>
  <%= link_to "Edit", edit_content_path(@content) %> |
  <%= link_to "Destroy", @content, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contents_path %>
</p>
